@{
    Layout = "~/Views/Shared/site.cshtml";
}
@using AncientBook.Models;
@using Webdiyer.WebControls.Mvc;
@{
    ArticleListModel listInfo = Model as ArticleListModel;
    var user = Session["uid"] == null ? 0 : 1;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>古籍管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="~/css/base.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MvcPager.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <style>
        body {
            background: url(/New/images/geometry2.png) repeat;
            min-height: 670px;
        }

        html {
            overflow: auto;
        }
    </style>
</head>
<body>
    @{
        var title = listInfo.KeyWord == null ? null : listInfo.KeyWord.ToString();
    }
    <div id="bd_wrap">

        <div class="bd_hd" style="width: 983px; margin: 0 auto;">
           
                <form action="@Url.Action("List", "Article")" method="post">
                    <div class="s_gjSearch fn-clear">
                        @*<div id="w_logo" class="w_logo"><a href="/">&nbsp;</a></div>*@
                        <div class="l_gjSearch_bd" style="margin-left: 80px;">
                            <input type="text" class="submitInput" id="keywordIpt" name="keyWord" btnid="instant-search-btn" value="@title" />
                            <input type="text" id="categoryId" name="categoryId" style="display:none" value="0" />
                        </div>
                        <div class="l_search_btn">
                            <input id="instant-search-btn" type="submit" value="搜  索" class="submitBtn" style="font-family: cursive;font-size: 20px;background-color: #e67474;color: white; border-radius: 4px;" />
                        </div>
                        <div class="s_link s_link_s" style="width: 70px;height: 40px;line-height: 40px;">
                            <a href="@Url.Action("MuchList", "Article")">多条件检索</a>
                        </div>
                    </div>
                </form>
            
        </div>
        <div id="hd"></div>
        <div id="bd" style="width:100%;min-width:1200px">
            <div class="searchResults fn-clear" id="searchresult-main" style="padding-left:3%">
                <!--[if IE 6]>
                <style>
                    .searchResults{ background:url(/images/doctype/bd_l_opaque.png) repeat-y;}</style>
                <![endif]-->
                @{
                    Html.RenderAction("CategoryTree", "Home");
                }
                <div class="gjResults fl" id="searchresult-list" style="margin-left: 10px;float:left;margin-left:5%">
                    <div id="list" style="background-color: white;">
                        @{
                            Html.RenderPartial("_PartList", listInfo);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="fn-clear"></div>
    <script>
        $(document).ready(function () {
            var height = document.body.scrollHeight;
            var width = $("#bd").width();
            $(".body").height(height)
        })
    </script>
</body>
</html>
